# Created by .ignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml

## Directory-based project format:
.idea/

## Plugin-specific files:

# IntelliJ
/out/
classes
/.idea/
